venv/
.venv/
supervised_ml/spf_datasets/train*
supervised_ml/spf_datasets/val*
supervised_ml/supervisedNN*
supervised_ml/SupervisedNN*
supervised_ml/KadesFC*
params.json
outputs/
quick_plotting.py
quick_plot.py
mem/mem_*
supervised_ml/debug*
mem/_frames/
mem/_frames/*
